.before {
	height: 570px;
	width: 100%;
	background-color: #252627;
	padding: 30px 0;

}

.slider__section {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.section__slider-item {
	margin-top: 20px;
	position: relative;
	width: 275px;
	height: 180px;
	margin-left: 10px;

	&:last-child {
		margin-right: 0;
	}

	.before__photo {
		img {
			width: 275px;
			height: 125px;
		}
	}

	.before__price-wrapper {
		display: flex;
		width: 275px;
		height: 45px;
		background: #1d1d1d;
		justify-content: flex-end;
		padding: 0 10px;
		color: #fff;
		align-items: center;

	}

	.before__price {
		display: flex;
		align-items: center;
		@extend %montserrat-bold;
		font-size: 14px;

		span {
			padding: 5px 10px;
			background-color: $green;
			margin-left: 10px;
		}
	}


}

.before__tabs {
	display: flex;
	justify-content: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #454647;
}

.before__tab {
	margin-left: 30px;

	font-size: 18px;
	padding: 22px 22px 22px;
	color: #fff;
	cursor: pointer;
	transition: all 0.1s linear;

	&:hover {
		color: $green;
	}
}

.before__tab-active {
	border-top: 2px solid $green;
	border-bottom: 2px solid $green;
}

.before__title {
	color: #fff;
	text-align: center;

	font-size: 24px;
	letter-spacing: 1px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid #454647;
	padding-bottom: 20px;
}